- provide(:title, 'All Lockers' )
.row
  .small-12.medium-12.columns
    = link_to 'New Locker', new_locker_path, class: 'info button'
.row
  .medium-4.columns
    = paginate @lockers
  .medium-6.columns.end
    = page_entries_info @lockers
  %hr
    %table
      %thead
        %tr
          %th locker no
          %th size code
          %th reserved
          %th actions
      %tbody
        = render(@lockers)
