- provide(:title, 'All Lockers' )
.row
  .small-12.medium-12.columns
    = link_to 'New Locker', new_locker_path, class: 'success button'
    %hr
    %table
      %thead
        %tr
          %th locker_no
          %th size_code
          %th reserved
          %th actions
      %tbody
        = render(@lockers)
